.table-content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px
}

.content-h {
    margin-top: 20px;
    margin-left: 80px;
}

.title-1 {
    margin-left: 80px;
    font-size: 24px
}